<div class="container section">
  <div class="col-md-6 offset-md-3">
    <h4>Send SMS</h4>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="col-sm-8">
        <div class="form-group">
          <label for="toWhome">Select users to send SMS</label>
          <select class="input" name="toWhome" [(ngModel)]="toWhome" #eventOf="ngModel">
            <option value="Select" selected="true">Select</option>
            <option value="Donors">Donors</option>
            <option value="Students">Students</option>
            <option value="CommiteeMembers">Commitee Members</option>
          </select>
        </div>

        <div class="form-group">
            <label for="body">Message Body</label>
            <input type="text" class="form-control" name="message" [(ngModel)]="myEmail.body" #body="ngModel" required body minlength="5"
            />
            <div *ngIf="f.submitted && body.invalid" class="invalid-feedback">
              <div *ngIf="body.errors.required">Message body is required</div>
              <div *ngIf="body.errors.minlength">Message body is too short</div>
            </div>
          </div>

      </div>
      <div class="form-group">
        <button class="btn btn-primary">Send SMS's</button>
      </div>
    </form>
  </div>
</div>