<div class="container section">
    <div class="col-md-12" style="text-align: center">
        <button class="btn btn-primary" (click)="goBack()"> Back</button>
        <br>
        <br>
        <h4>Doner Registeration</h4>
        <div>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="surname">Surname</label>
                                <input type="text" style="text-transform: capitalize;" class="form-control" name="surname" [(ngModel)]="donor.surname" #surname="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && surname.invalid }" required surname minlength="1"
                                    [disabled]="isView" />
                                <div *ngIf="f.submitted && surname.invalid" class="invalid-feedback">
                                    <div *ngIf="surname.errors.required">Surname is required</div>
                                    <div *ngIf="surname.errors.surname">Surname must be a valid one</div>
                                    <div *ngIf="surname.errors.minlength">Surname must be at least 1 character</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Name</label>
                                <input type="text" class="form-control" name="lastName" [(ngModel)]="donor.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
                                    required lastName minlength="3" [disabled]="isView" />
                                <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                                    <div *ngIf="lastName.errors.required">Name is required</div>
                                    <div *ngIf="lastName.errors.lastName">Name must be a valid one</div>
                                    <div *ngIf="lastName.errors.minlength">Name must be at least 3 characters</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" name="email" [(ngModel)]="donor.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                                    required email [disabled]="isView" />
                                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                    <div *ngIf="email.errors.required">Email is required</div>
                                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobile">Mobile Number</label>
                                <input type="text" class="form-control" name="mobile" [(ngModel)]="donor.mobile" #mobile="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }"
                                    required mobile minlength="10" maxlength="10" [disabled]="isView" />
                                <div *ngIf="f.submitted && mobile.invalid" class="invalid-feedback">
                                    <div *ngIf="mobile.errors.required">Mobile Number is required</div>
                                    <div *ngIf="mobile.errors.mobile">Mobile Number must be a valid one</div>
                                    <div *ngIf="mobile.errors.minlength">Mobile Number must be 10 digits</div>
                                    <div *ngIf="mobile.errors.maxlength">Mobile Number must be not more than 10 digits</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="houseNo">House No </label>
                                <input type="text" class="form-control" name="houseNo" [(ngModel)]="donor.houseNo" #houseNo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && houseNo.invalid }"
                                    required houseNo [disabled]="isView" />
                                <div *ngIf="f.submitted && houseNo.invalid" class="invalid-feedback">
                                    <div *ngIf="houseNo.errors.required">HouseNo is required</div>
                                    <div *ngIf="houseNo.errors.houseNo">HouseNo must be a valid House address</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="landMark">Land Mark</label>
                                <input type="text" class="form-control" name="landMark" [(ngModel)]="donor.landMark" #landMark="ngModel" [disabled]="isView"
                                />
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="form-group">
                                <label for="street">Street</label>
                                <input type="text" class="form-control" name="street" [(ngModel)]="donor.street" #street="ngModel" [disabled]="isView" />
                            </div>
                            <div class="form-group">
                                <label for="postOffice">Post Office Address</label>
                                <input type="text" class="form-control" name="postOffice" [(ngModel)]="donor.postOffice" #postOffice="ngModel" [ngClass]="{ 'is-invalid': f.submitted && postOffice.invalid }"
                                    required postOffice minlength="3" [disabled]="isView" />
                                <div *ngIf="f.submitted && postOffice.invalid" class="invalid-feedback">
                                    <div *ngIf="postOffice.errors.required">PostOffice is required</div>
                                    <div *ngIf="postOffice.errors.minlength">PostOffice must be at least 3 characters</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="mandal">Mandal</label>
                                <input type="text" class="form-control" name="mandal" [(ngModel)]="donor.mandal" #mandal="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mandal.invalid }"
                                    required mandal minlength="3" [disabled]="isView" />
                                <div *ngIf="f.submitted && mandal.invalid" class="invalid-feedback">
                                    <div *ngIf="mandal.errors.required">Mandal is required</div>
                                    <div *ngIf="mandal.errors.minlength">Mandal must be at least 3 characters</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="district">District</label>
                                <input type="text" class="form-control" name="district" [(ngModel)]="donor.district" #district="ngModel" [ngClass]="{ 'is-invalid': f.submitted && district.invalid }"
                                    required district minlength="3" [disabled]="isView" />
                                <div *ngIf="f.submitted && district.invalid" class="invalid-feedback">
                                    <div *ngIf="district.errors.required">District is required</div>
                                    <div *ngIf="district.errors.minlength">District must be at least 3 characters</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city">City </label>
                                <input type="text" class="form-control" name="city" [(ngModel)]="donor.city" #city="ngModel" [ngClass]="{ 'is-invalid': f.submitted && city.invalid }"
                                    required city minlength="3" [disabled]="isView" />
                                <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
                                    <div *ngIf="city.errors.required">City is required</div>
                                    <div *ngIf="city.errors.minlength">City must be at least 3 characters</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" name="state" [(ngModel)]="donor.state" #state="ngModel" [ngClass]="{ 'is-invalid': f.submitted && state.invalid }"
                                    required state minlength="3" [disabled]="isView" />
                                <div *ngIf="f.submitted && state.invalid" class="invalid-feedback">
                                    <div *ngIf="state.errors.required">State is required</div>
                                    <div *ngIf="state.errors.minlength">State must be at least 3 characters</div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" name="country" [(ngModel)]="donor.country" #country="ngModel" [ngClass]="{ 'is-invalid': f.submitted && country.invalid }"
                                    required country minlength="3" [disabled]="isView" />
                                <div *ngIf="f.submitted && country.invalid" class="invalid-feedback">
                                    <div *ngIf="country.errors.required">Country is required</div>
                                    <div *ngIf="country.errors.minlength">Country must be at least 3 characters</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pincode">Pincode</label>
                                <input type="text" class="form-control" name="pincode" [(ngModel)]="donor.pincode" #pincode="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pincode.invalid }"
                                    required pincode minlength="6" maxlength="6" [disabled]="isView" />
                                <div *ngIf="f.submitted && pincode.invalid" class="invalid-feedback">
                                    <div *ngIf="pincode.errors.required">Pincode is required</div>
                                    <div *ngIf="pincode.errors.minlength">Pincode must be 6 characters</div>
                                    <div *ngIf="pincode.errors.maxlength">Pincode must be 6 characters</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="eventDate">Event Date</label>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" class="form-control" name="eventDate" [(ngModel)]="donor.eventDate" #eventDate="ngModel"
                                        [ngClass]="{ 'is-invalid': f.submitted && eventDate.invalid }" required eventDate maxlength="6"
                                        [disabled]="isView" />
                                    <div *ngIf="f.submitted && eventDate.invalid" class="invalid-feedback">
                                        <div *ngIf="eventDate.errors.required">EventDate is required</div>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label for="eventOf">For the event of</label>
                                <select class="input " name="eventOf" [(ngModel)]="donor.eventOf" #eventOf="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventOf.invalid }"
                                    required eventOf [disabled]="isView">
                                    <option [ngValue]="undefined" disabled>Select</option>
                                    <option value="Marriage">Marriage</option>
                                    <option value="Birthday">Birthday</option>
                                    <option value="Anniversay">Anniversay</option>
                                    <option value="Other">Other</option>
                                </select>
                                <div *ngIf="f.submitted && eventOf.invalid && eventOf.dirty" class="invalid-feedback">
                                    <div *ngIf="eventOf.errors.required">EventOf is required</div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="amountFor">Amount For</label>
                                <select class="input " name="amountFor" [(ngModel)]="donor.amountFor" #amountFor="ngModel" [disabled]="isView">
                                    <option [ngValue]="undefined" disabled>Select</option>
                                    <option value="Marriage">One day meals</option>
                                    <option value="Sponser a child">Sponser a child</option>
                                    <option value="One time deposit">One time deposit</option>
                                    <option value="Sponser a child education">Sponser a child education</option>
                                    <option value=" One day expenses"> One day expenses</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="paymentType">Payment Type</label>
                                <select class="input " name="paymentType" [(ngModel)]="donor.paymentType" #paymentType="ngModel" [disabled]="isView">
                                    <option [ngValue]="undefined" disabled>Select</option>
                                    <option value="Marriage">By cash</option>
                                    <option value="Sponser a child">Cheque</option>
                                    <option value="One time deposit">Online</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="amount">Donation Amount</label>
                                <input type="text" class="form-control" name="amount" [(ngModel)]="donor.amount" #amount="ngModel" [ngClass]="{ 'is-invalid': f.submitted && amount.invalid }"
                                    required amount minlength="2" maxlength="10" [disabled]="isView" />
                                <div *ngIf="f.submitted && amount.invalid" class="invalid-feedback">
                                    <div *ngIf="amount.errors.required">Amount is required</div>
                                    <div *ngIf="amount.errors.amount">Amount must be a valid one</div>
                                    <div *ngIf="amount.errors.minlength">Amount must be at least 1 digits</div>
                                    <div *ngIf="amount.errors.maxlength">Amount must be not more than 10 digits</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary" (click)="goBack()"> Back</button>
                        <button class="btn btn-primary" *ngIf="!isView"  type="submit" style="margin-left: 20px;">{{!isUpdate? "Save": "Update"}}</button>
                        <button class="btn btn-primary" *ngIf="isView" (click)="editDonor()" style="margin-left: 20px;">Edit</button>
                        <button class="btn btn-primary" *ngIf="isView" (click)="printReceipt(donor)" style="margin-left: 20px;">Print Receipt</button>
                        <button class="btn btn-primary" *ngIf="isUpdate" (click)="addDonation()" style="margin-left: 20px;">Add Another Donation</button>
                    </div>

                    <router-outlet></router-outlet>
                </div>

                <div class="form-group" *ngIf="isUpdate">

                    <h4>Previous Donations:</h4>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Event Date</th>
                                <th>Event Of</th>
                                <th>Amount For</th>
                                <th>Payment Type</th>
                                <th>Amount</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let donation of donations">
                                <td>{{donation.id}}</td>
                                <td>{{donation.eventDate}}</td>
                                <td>{{donation.eventOf}}</td>
                                <td>{{donation.amountFor}}</td>
                                <td>{{donation.paymentType}}</td>
                                <td>{{donation.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </form>

        </div>
    </div>
</div>