<div class="container">
        <!-- CAUSESS -->
        <div id="causes" class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
      
                    <!-- section title -->
                    <div class="col-md-12 col-md-offset-2">
                        <div class="section-title text-center">
                            <h2 class="title">Vatsalya Sindhu Activities</h2>
                            <p class="sub-title">We serve in fields of Education, Cultural nurturing, Health, and
                                Women’s Empowerment areas. Our Organization is supported mostly
                                through voluntary efforts with support from philanthropists & donors..</p>
                        </div>
                    </div>
                    <!-- section title -->
      
                    <!-- causes -->
                    <div class="col-md-4">
                        <div class="causes">
                            <div class="causes-progress">
                                <div class="causes-progress-bar">
                                    <div style="width: 87%;">
                                        <span>87%</span>
                                    </div>
                                </div>
                                <div>
                                    <span class="causes-raised">Raised: <strong>52.000$</strong></span>
                                    <span class="causes-goal">Goal: <strong>90.000$</strong></span>
                                </div>
                            </div>
                            <div class="causes-content">
                                <h3><a href="single-cause.html">We are focussing on school going children who are above the
                                    age of 13</a></h3>
                                <p>Our Organization is supported mostly
                                    through voluntary efforts with support from philanthropists & donors.</p>
                                <a href="single-cause.html" class="primary-button causes-donate">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- /causes -->
      
                    <!-- causes -->
                    <div class="col-md-4">
                        <div class="causes">
                            <div class="causes-progress">
                                <div class="causes-progress-bar">
                                    <div style="width: 53%;">
                                        <span>53%</span>
                                    </div>
                                </div>
                                <div>
                                    <span class="causes-raised">Raised: <strong>52.000$</strong></span>
                                    <span class="causes-goal">Goal: <strong>90.000$</strong></span>
                                </div>
                            </div>
                            <div class="causes-content">
                                <h3><a href="single-cause.html">Aim is to encourage these children to continue studying</a>
                                </h3>
                                <p>Our Organization is supported mostly
                                    through voluntary efforts with support from philanthropists & donors</p>
                                <a href="single-cause.html" class="primary-button causes-donate">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- /causes -->
      
                    <!-- causes -->
                    <div class="col-md-4">
                        <div class="causes">
                            <div class="causes-progress">
                                <div class="causes-progress-bar">
                                    <div style="width: 72%;">
                                        <span>72%</span>
                                    </div>
                                </div>
                                <div>
                                    <span class="causes-raised">Raised: <strong>52.000$</strong></span>
                                    <span class="causes-goal">Goal: <strong>90.000$</strong></span>
                                </div>
                            </div>
                            <div class="causes-content">
                                <h3><a href="single-cause.html">This helps curtail child marriages & child labor</a></h3>
                                <p>Our Organization is supported mostly
                                    through voluntary efforts with support from philanthropists & donors</p>
                                <a href="single-cause.html" class="primary-button causes-donate">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- /causes -->
      
                    <div class="clearfix visible-md visible-lg"></div>
      
                    <!-- causes -->
                    <div class="col-md-4">
                        <div class="causes">
                            <div class="causes-progress">
                                <div class="causes-progress-bar">
                                    <div style="width: 64%;">
                                        <span>64%</span>
                                    </div>
                                </div>
                                <div>
                                    <span class="causes-raised">Raised: <strong>52.000$</strong></span>
                                    <span class="causes-goal">Goal: <strong>90.000$</strong></span>
                                </div>
                            </div>
                            <div class="causes-content">
                                <h3><a href="single-cause.html">Scholarship programs are conducted</a></h3>
                                <p>Our Organization is supported mostly
                                    through voluntary efforts with support from philanthropists & donors.</p>
                                <a href="single-cause.html" class="primary-button causes-donate">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- /causes -->
      
                    <!-- causes -->
                    <div class="col-md-4">
                        <div class="causes">
                            <div class="causes-progress">
                                <div class="causes-progress-bar">
                                    <div style="width: 72%;">
                                        <span>72%</span>
                                    </div>
                                </div>
                                <div>
                                    <span class="causes-raised">Raised: <strong>52.000$</strong></span>
                                    <span class="causes-goal">Goal: <strong>90.000$</strong></span>
                                </div>
                            </div>
                            <div class="causes-content">
                                <h3><a href="single-cause.html">78 students provided free education in 7 years</a>
                                </h3>
                                <p>Our Organization is supported mostly
                                    through voluntary efforts with support from philanthropists & donors.</p>
                                <a href="single-cause.html" class="primary-button causes-donate">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- /causes -->
      
                    <!-- causes -->
                    <div class="col-md-4">
                        <div class="causes">
                            <div class="causes-progress">
                                <div class="causes-progress-bar">
                                    <div style="width: 53%;">
                                        <span>53%</span>
                                    </div>
                                </div>
                                <div>
                                    <span class="causes-raised">Raised: <strong>52.000$</strong></span>
                                    <span class="causes-goal">Goal: <strong>90.000$</strong></span>
                                </div>
                            </div>
                            <div class="causes-content">
                                <h3><a href="single-cause.html">4 children have graduated and are employed</a></h3>
                                <p>Our Organization is supported mostly
                                    through voluntary efforts with support from philanthropists & donors.</p>
                                <a href="single-cause.html" class="primary-button causes-donate">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- /causes -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /CAUSESS -->
      </div>