<div class="container">
  <div class="col-sm-12">
    <div class="navbar-header" style="text-align: center">
      <nav>
        <a routerLink="registrations">Registrations</a>
        <a routerLink="images">Images</a>
        <a routerLink="videos">Videos</a>
        <a routerLink="downloads">Downloads</a>
        <a routerLink="prints">Prints</a>
        <a routerLink="messageMail">Message/Mail</a>
        <a routerLink="/home">Logout</a>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>