<div class="container">

  <div class="col-sm-2" style="text-align: left; background-color: darkgray">
    <div class="navbar-header">
      <nav>
        <a routerLink="/registrations">Registrations</a><br>
        <a routerLink="/activities">Activities</a> <br>
        <a routerLink="/galleryAdmin">Gallery</a><br>
        <a routerLink="/aboutUsAdmin">About Us</a><br>
        <a routerLink="/contactUsAdmin">Contact Us</a><br>
        <a routerLink="/downloads">Downloads</a><br>
        <a routerLink="/prints">Prints</a><br>
        <a routerLink="/messageMail">Message/Mail</a><br>
        <a routerLink="/home">Logout</a><br><br><br>
      </nav>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>>