<div class="container section">
    <div class="col-md-6 offset-md-3">
        <ng-progress></ng-progress>
        <h4>Login Form</h4>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                    required email />
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                    required minlength="6" />
                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">Password is too short</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Login</button>
                <button class="btn btn-primary" style="margin-left: 10px">Forgot password?</button>
            </div>
        </form>
    </div>
</div>