<div class="container section">
  <div class="col-sm-6">
    <h4>Login Form</h4>
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          User Name:
          <input type="text" id="username" required [(ngModel)]="user.userName" name="username">
        </div>

        <br>
        <div class="form-group">
          Password:
          <input type="text" id="password" required [(ngModel)]="user.password" name="password">
        </div>
        <br>

        <div class="btn-group">
          <button class="primary-button" (click)="goBack()">Back</button> &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="primary-button" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>