<!-- ABOUT -->
<div class="container">
  <div id="about" class="section">
      <!-- about content -->
      <div class="col-md-12">
          <br>
          <div class="section-title">
              <h2 class="title">Welcome to Vatsalya Sindhu</h2>
              <p class="sub-title">Keshava Seva Samithi is a Charitable Trust, started in 1999.
                  Our special focus is on bringing a ray of hope into the lives of Slum dwelling families
                  with
                  particular stress on Children.</p>
          </div>
          <div class="about-content">
              <p>Keshava Seva Samithi is a Charitable Trust, started in 1999.
                  At Vatsalya Sindhu,we have boys in the ages Arranging from 3 upwards-boys who are
                  happy,energetic and aspire
                  to achieve.our children are disciplane
                  hand-working , chirpy, mischievous, child-like,empathetic and very affectionate above
                  all they are young stars
                  who seek opportunity like all children!.

                  Our special focus is on bringing a ray of hope into the lives of Slum dwelling families
                  with
                  particular stress on Children.
                  We conduct classrooms for children under 13 and provide scholarship to those over 13,
                  even
                  upto Engineering and other graduation.
                  We serve in fields of Education, Cultural nurturing, Health, and Women’s Empowerment
                  areas.
                  Our Organization is supported mostly
                  through voluntary efforts with support from philanthropists & donors..</p>
              <a href="#" class="primary-button">Read More</a>
          </div>
      </div>
      <!-- /about content -->
      <!-- /ABOUT -->
  </div>
</div>