<div class="container section">
  <div class="col-sm-12">
    <h2> Student Details</h2>
    <button class="btn btn-primary" (click)="goBack()"> Back</button>
    <button class="btn btn-primary" (click)="getStudents()" style="margin-left: 20px;"> Refresh</button>
    <button class="btn btn-primary" (click)="addStudents()" style="margin-left: 20px;"> Add Student</button>
    <br>
    <br>
    <ng-progress></ng-progress>
    <div class="row">
      Search Student: 
      <input type="text" class="form-control" name="searchText" placeholder="Search by surname, name"
        [(ngModel)]="searchText">
    </div>
    <br>
    <p>(Hint: While typing if you not a found Student click on search button to get from all Students in Database)</p>
      <button class="btn btn-primary" (click)="searchStudent(searchText)">Search</button>
      <button class="btn btn-primary" (click)="downloadPdf()" style="margin-left: 20px">Download PDF</button>
  <br>
  <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>Name</th>
          <th>Admission Number</th>
          <th>education</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{student.id}}</td>
          <td>{{student.sname}}</td>
          <td>{{student.admissionNumber}}</td>
          <td>{{student.education}}</td>
          <td>
            <button class="btn btn-primary" (click)="editStudent(student,'true')"> View</button>
            <button class="btn btn-primary" (click)="editStudent(student,'false')" style="margin-left: 10px;"> Edit</button>
            <button class="btn btn-danger" (click)="deleteStudent(student)" style="margin-left: 10px;"> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>