<div class="container section">
  <div class="col-md-8" style="text-align: center">
    <form name="form">
      <label class="btn btn-default">Description:
        <input type="text" name="description" [(ngModel)]="description">
      </label>
      <label class="btn btn-default"> Image:
        <input type="file" (change)="selectFile($event)" style="margin-left: 40px;">
        <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()" style="margin-left: 10px;">Upload</button>
    </label>
      <br><br><br><br><br><br>
    </form>
  </div>
</div>

<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->