<div class="container section">
  <div class="col-md-12" style="text-align: center">
    <button class="btn btn-primary" (click)="goBack()"> Back</button>
    <br>
    <br>
    <h4>Student Registeration</h4>
    <div [hidden]="submitted">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="sname" [(ngModel)]="student.sname" #sname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sname.invalid }"
              required sname minlength="2" />
            <div *ngIf="f.submitted && sname.invalid" class="invalid-feedback">
              <div *ngIf="sname.errors.required">Name is required</div>
              <div *ngIf="sname.errors.sname">Name must be a valid one</div>
              <div *ngIf="sname.errors.minlength">Name must be at least 2 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label for="admissionNumber">Admission Number</label>
            <input type="number" class="form-control" name="admissionNumber" [(ngModel)]="student.admissionNumber" #admissionNumber="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && admissionNumber.invalid }" required admissionNumber minlength="3" />
            <div *ngIf="f.submitted && admissionNumber.invalid" class="invalid-feedback">
              <div *ngIf="admissionNumber.errors.required">Admission No is required</div>
              <div *ngIf="admissionNumber.errors.admissionNumber">Admission No must be a valid one</div>
              <div *ngIf="admissionNumber.errors.minlength">Admission No must be at least 3 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label for="dateOfBirth">Date Of Birth</label>
            <input type="date" class="form-control" name="dateOfBirth" [(ngModel)]="student.dateOfBirth" #dateOfBirth="ngModel" />
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input type="number" class="form-control" name="age" [(ngModel)]="student.age" #age="ngModel" />
          </div>
          <div class="form-group">
            <label for="caste">Caste</label>
            <input type="text" class="form-control" name="caste" [(ngModel)]="student.age" #caste="ngModel" />
          </div>
          <div class="form-group">
            <label for="orphan">Orphan/Semi Orphan</label>
            <input type="text" class="form-control" name="orphan" [(ngModel)]="student.orphan" #orphan="ngModel" />
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <input type="text" class="form-control" name="gender" [(ngModel)]="student.gender" #sex="ngModel" />
          </div>
          <div class="form-group">
            <label for="education">Education</label>
            <input type="text" class="form-control" name="education" [(ngModel)]="student.education" #education="ngModel" />
          </div>
          <div class="form-group">
            <label for="class">Class</label>
            <input type="text" class="form-control" name="class" [(ngModel)]="student.class" #class="ngModel" />
          </div>
          <div class="form-group">
            <label for="schoolAddress">School Address</label>
            <input type="text" class="form-control" name="schoolAddress" [(ngModel)]="student.schoolAddress" #schoolAddress="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="adharNumber">Adhar Number</label>
            <input type="text" class="form-control" name="adharNumber" [(ngModel)]="student.adharNumber" #adharNumber="ngModel" />
          </div>
          <div class="form-group">
            <label for="mobileNumber">Mobile Number</label>
            <input type="text" class="form-control" name="mobileNumber" [(ngModel)]="student.mobileNumber" #mobileNumber="ngModel" />
          </div>
          <div class="form-group">
            <label for="permanentNumber">Permanent Address</label>
            <input type="text" class="form-control" name="permanentNumber" [(ngModel)]="student.permanentNumber" #permanentNumber="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="prasentAddress">Prasent Address</label>
            <input type="text" class="form-control" name="prasentAddress" [(ngModel)]="student.prasentAddress" #prasentAddress="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="motherName">Mother Name</label>
            <input type="text" class="form-control" name="motherName" [(ngModel)]="student.motherName" #motherName="ngModel" />
          </div>
          <div class="form-group">
            <label for="fatherName">Father Name</label>
            <input type="text" class="form-control" name="fatherName" [(ngModel)]="student.fatherName" #fatherName="ngModel" />
          </div>
          <div class="form-group">
            <label for="motherAdharNumber">Mother Adhar Number</label>
            <input type="text" class="form-control" name="motherAdharNumber" [(ngModel)]="student.motherAdharNumber" #motherAdharNumber="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="motherOccupation">Mother Occupation</label>
            <input type="text" class="form-control" name="motherOccupation" [(ngModel)]="student.motherOccupation" #motherOccupation="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="fatherAdharNumber">Father Adhar Number</label>
            <input type="text" class="form-control" name="fatherAdharNumber" [(ngModel)]="student.fatherAdharNumber" #fatherAdharNumber="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="fatherOccupation">Father Occupation</label>
            <input type="text" class="form-control" name="fatherOccupation" [(ngModel)]="student.fatherOccupation" #fatherOccupation="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="motherDeathDate">Mother Death Date</label>
            <input type="date" class="form-control" name="motherDeathDate" [(ngModel)]="student.motherDeathDate" #motherDeathDate="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="monthPlaceOfDeath">Mother Place Of Death</label>
            <input type="text" class="form-control" name="monthPlaceOfDeath" [(ngModel)]="student.monthPlaceOfDeath" #monthPlaceOfDeath="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="fatherDeathDate">Father Death Date</label>
            <input type="date" class="form-control" name="fatherDeathDate" [(ngModel)]="student.fatherDeathDate" #fatherDeathDate="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="fatherPlaceOfDeath">Father Place Of Death</label>
            <input type="text" class="form-control" name="fatherPlaceOfDeath" [(ngModel)]="student.fatherPlaceOfDeath" #fatherPlaceOfDeath="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="gaurdianName">Gaurdian Name</label>
            <input type="text" class="form-control" name="gaurdianName" [(ngModel)]="student.gaurdianName" #gaurdianName="ngModel" />
          </div>
          <div class="form-group">
            <label for="gaurdianAdharNumber">Gaurdian Adhar Number</label>
            <input type="number" class="form-control" name="gaurdianAdharNumber" [(ngModel)]="student.gaurdianAdharNumber" #gaurdianAdharNumber="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="gaurdianName">Gaurdian Name</label>
            <input type="text" class="form-control" name="gaurdianName" [(ngModel)]="student.gaurdianName" #gaurdianName="ngModel" />
          </div>
          <div class="form-group">
            <label for="gaurdianOccupation">Gaurdian Occupation</label>
            <input type="text" class="form-control" name="gaurdianOccupation" [(ngModel)]="student.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
              required lastName minlength="3" />
          </div>
          <div class="form-group">
            <label for="gaurdianMobileNumber">Gaurdian Mobile Number</label>
            <input type="text" class="form-control" name="gaurdianMobileNumber" [(ngModel)]="student.gaurdianMobileNumber" #gaurdianMobileNumber="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="gaurdianEmailId">Gaurdian EmailId</label>
            <input type="text" class="form-control" name="gaurdianEmailId" [(ngModel)]="student.gaurdianEmailId" #gaurdianEmailId="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="gaurdianPresentAddress">Gaurdian Present Address</label>
            <input type="text" class="form-control" name="gaurdianPresentAddress" [(ngModel)]="student.gaurdianPresentAddress" #gaurdianPresentAddress="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="gaurdianPermanentAddress">Gaurdian Permanent Address</label>
            <input type="text" class="form-control" name="gaurdianPermanentAddress" [(ngModel)]="student.gaurdianPermanentAddress" #gaurdianPermanentAddress="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="attachments">Attachments</label>
            <input type="text" class="form-control" name="attachments" [(ngModel)]="student.attachments" #attachments="ngModel" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary">{{isUpdate? "Update": "Save"}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>