<div class="container section">
  <div class="col-sm-12">
    <h2> Videos List</h2>
    <button class="btn btn-primary" (click)="goBack()"> Back</button>
    <button class="btn btn-primary" (click)="getVideos()" style="margin-left: 20px;"> Refresh</button>
    <!-- <button class="btn btn-primary" (click)="addImage()" style="margin-left: 20px;"> Add Image </button> -->
    <button class="btn btn-primary" (click)="addVideo()" style="margin-left: 20px;">Add Video</button>
    <br>
    <br>
    <router-outlet></router-outlet>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Description</th>
          <th>Preview</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let video of videos">
          <td>{{video.id}}</td>
          <td>{{video.description}}</td>
          <td>
            <iframe width="310" height="150" [src]="getTrustedURL(video.url)" frameborder="0" allowfullscreen></iframe>
          </td>
          <td>
            <button class="btn btn-primary" (click)="editVideo(video)" style="margin-left: 10px;"> Edit</button>
            <button class="btn btn-danger" (click)="deleteVideo(video)" style="margin-left: 10px;"> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>