<div class="container">
  <!-- footer contact -->
  <div id="contact" class="section">
      <div class="footer">

          <p>Keshava Seva Samithi is a Charitable Trust, started in 1999.
              Our special focus is on bringing a ray of hope into the lives of Slum dwelling families with particular
              stress on Children.
              We conduct classrooms for children under 13 and provide scholarship to those over 13, even upto
              Engineering and other graduation.
              We serve in fields of Education, Cultural nurturing, Health, and Women’s Empowerment areas. Our
              Organization is supported mostly
              through voluntary efforts with support from philanthropists & donors.</p>
          <ul class="footer-contact">
              <li><i class="fa fa-map-marker"></i> Vatsalya Sindhu</li>
              <li><i class="fa"></i> Regd. No.189/1990</li>
              <li><i class="fa"></i> Plot No;45/1&3,Upparguda, Raja Nagar, Moulali </li>
              <li><i class="fa"></i> Hyderabad-500040,T.S,India.</li>
              <li><i class="fa fa-envelope"></i> <a href="#">sewabharathi@gmail.com , keshavasevasamithi@yahoo.in</a>
              </li>
          </ul>

          <form class="footer-newsletter">
              <input class="input" type="email" placeholder="Enter your email"> <br><br>
              <button class="primary-button">Subscribe</button>
          </form>
          <ul class="footer-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>

      </div>
  </div>
  <!-- /footer contact -->
</div>