<div class="container section">
  <div class="col-sm-12">
    <h2> Donors List</h2>
    <button class="btn btn-primary" (click)="goBack()"> Back</button>
    <button class="btn btn-primary" (click)="getDonors()" style="margin-left: 20px;"> Refresh</button>
    <button class="btn btn-primary" (click)="addDonor()" style="margin-left: 20px;"> Add Donor</button>
    <br>
    <br>
    <div class="row">
        Search Donor: 
        <input type="text" class="form-control" name="searchText" placeholder="Search by surname, name, email, mobile number"
          [(ngModel)]="searchText">
      </div>
      <br>
      <p>(Hint: If you not found donor while typing click on search button)</p>
        <button class="btn btn-primary" (click)="searchDonor(searchText)" style="padding-left: 20px">Search</button>
    <br>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>Surname</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donor of donors | filter : searchText">
          <td>{{donor.id}}</td>
          <td>{{donor.surname}}</td>
          <td>{{donor.lastName}}</td>
          <td>{{donor.email}}</td>
          <td>{{donor.mobile}}</td>
          <td>
            <button class="btn btn-primary" (click)="editDonor(donor, 'true')"> View</button>
            <button class="btn btn-primary" (click)="editDonor(donor, 'false')" style="margin-left: 10px;"> Edit</button>
            <button class="btn btn-danger" (click)="deleteDonor(donor)" style="margin-left: 10px;"> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>