<div class="container">
  <div class="section">

      <!-- HOME OWL -->
         <!-- <div id="home-owl" class="owl-carousel owl-theme">
              &lt;!&ndash; home item &ndash;&gt;
              <div class="home-item">
                  &lt;!&ndash; section background &ndash;&gt;
                  <div class="section-bg" style="background-image: url(./img/background-1.jpg);"></div>
                  &lt;!&ndash; /section background &ndash;&gt;

                  &lt;!&ndash; home content &ndash;&gt;
                  <div class="home">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-8">
                                  <div class="home-content">
                                      <h1>Save The Children</h1>
                                      <p class="lead">Keshava Seva Samithi is a Charitable Trust, started in 1999.
                                          Our special focus is on bringing a ray of hope into the lives of Slum
                                          dwelling
                                          families with particular stress on Children
                                      </p>
                                      <a href="#" class="primary-button">View Causes</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  &lt;!&ndash; /home content &ndash;&gt;
              </div>
              &lt;!&ndash; /home item &ndash;&gt;

              &lt;!&ndash; home item &ndash;&gt;
              <div class="home-item">
                  &lt;!&ndash; Background Image &ndash;&gt;
                  <div class="section-bg" style="background-image: url(./img/background-2.jpg);"></div>
                  &lt;!&ndash; /Background Image &ndash;&gt;

                  &lt;!&ndash; home content &ndash;&gt;
                  <div class="home">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-8">
                                  <div class="home-content">
                                      <h1>Become A Volunteer</h1>
                                      <p class="lead">We serve in fields of Education, Cultural nurturing, Health, and
                                          Women’s Empowerment areas. Our Organization is supported mostly
                                          through voluntary efforts with support from philanthropists & donors..</p>
                                      <a href="#" class="primary-button">Join Us Now!</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  &lt;!&ndash; /home content &ndash;&gt;
              </div>
              &lt;!&ndash; /home item &ndash;&gt;
          </div>-->
      <!-- /HOME OWL -->

      <!-- <div class="col-sm-3">
          <img src="img/bharathamatha.jpg" height="300px" width="200px" style="padding-bottom:10px;">
      </div> -->

      <div class="col-sm-9" style="vertical-align: middle;">

          <br><br>
          <h3 class="footer-title">Welcome to Vatsalya Sindhu</h3>
          <p>Keshava Seva Samithi is a Charitable Trust, started in 1999.
              At Vatsalya Sindhu,we have boys in the ages Arranging from 3 upwards-boys who are
              happy,energetic and aspire
              to achieve.our children are disciplane
              hand-working , chirpy, mischievous, child-like,empathetic and very affectionate above
              all they are young stars
              who seek opportunity like all children!.
          </p>

          <p>
              Our special focus is on bringing a ray of hope into the lives of Slum dwelling families
              with
              particular stress on Children.
              We conduct classrooms for children under 13 and provide scholarship to those over 13,
              even
              upto Engineering and other graduation.
              We serve in fields of Education, Cultural nurturing, Health, and Women’s Empowerment
              areas.
              Our Organization is supported mostly
              through voluntary efforts with support from philanthropists & donors..</p>

      </div>

  </div>
</div>