<div class="container section">
  <div class="col-md-12" style="text-align: center">
    <button class="btn btn-primary" (click)="goBack()"> Back</button>
    <br>
    <br>
    <h4>Committe Member Registeration</h4>
    <div [hidden]="submitted">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="col-sm-6">

          <div class="form-group">
            <label for="surName">Surname</label>
            <input type="text" class="form-control" name="surName" [(ngModel)]="committeeMember.surName" #surName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && surName.invalid }"
              required surName minlength="2" />
            <div *ngIf="f.submitted && surName.invalid" class="invalid-feedback">
              <div *ngIf="surName.errors.required">surName is required</div>
              <div *ngIf="surName.errors.surName">surName must be a valid one</div>
              <div *ngIf="surName.errors.minlength">surName must be at least 2 characters</div>
            </div>
          </div>

          <div class="form-group">
            <label for="lastName">Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="committeeMember.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
              required lastName minlength="3" />
            <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
              <div *ngIf="lastName.errors.required">Name is required</div>
              <div *ngIf="lastName.errors.lastName">Name must be a valid one</div>
              <div *ngIf="lastName.errors.minlength">Name must be at least 3 characters</div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="committeeMember.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
              required email />
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          </div>

          <div class="form-group">
            <label for="mobile">Mobile Number</label>
            <input type="number" class="form-control" name="mobile" [(ngModel)]="committeeMember.mobile" #mobile="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }"
              required mobile minlength="10" maxlength="10" />
            <div *ngIf="f.submitted && mobile.invalid" class="invalid-feedback">
              <div *ngIf="mobile.errors.required">Mobile Number is required</div>
              <div *ngIf="mobile.errors.mobile">Mobile Number must be a valid one</div>
              <div *ngIf="mobile.errors.minlength">Mobile Number must be at least 10 digits</div>
              <div *ngIf="mobile.errors.maxlength">Mobile Number must be not more than 10 digits</div>
            </div>
          </div>
          <div class="form-group">
            <label for="designation">Age</label>
            <input type="number" class="form-control" name="designation" [(ngModel)]="committeeMember.designation" #designation="ngModel" />
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <input type="text" class="form-control" name="gender" [(ngModel)]="committeeMember.gender" #gender="ngModel" />
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="committeeMember.address" #address="ngModel" />
          </div>
          <div class="form-group">
            <label for="adharNumber">Adhar Number</label>
            <input type="text" class="form-control" name="adharNumber" [(ngModel)]="committeeMember.adharNumber" #adharNumber="ngModel" />
          </div>
          <div class="form-group">
            <label for="fromDate">From Date</label>
            <input type="date" class="form-control" name="fromDate" [(ngModel)]="committeeMember.fromDate" #fromDate="ngModel" />
          </div>
          <div class="form-group">
            <label for="thruDate">Thru Date</label>
            <input type="date" class="form-control" name="thruDate" [(ngModel)]="committeeMember.thruDate" #thruDate="ngModel" />
          </div>
          <div class="form-group">
            <label for="photo">Photo</label>
            <input type="text" class="form-control" name="photo" [(ngModel)]="committeeMember.photo" #fromDate="ngModel" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary">{{!isUpdate? "Save": "Update"}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>