<div class="container section">
  <div class="col-md-12" style="text-align: center">
    <button class="btn btn-primary" (click)="goBack()"> Back</button>
    <br>
    <br>
    <h4>Committe Member Registration</h4>
    <div>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="row">

          <div class="col-sm-4">
            <div class="form-group">
              <label for="surName">Surname</label>
              <input type="text" class="form-control" name="surName" [(ngModel)]="committeeMember.surName" #surName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && surName.invalid }"
                required surName minlength="2" [disabled]="isView" />
              <div *ngIf="f.submitted && surName.invalid" class="invalid-feedback">
                <div *ngIf="surName.errors.required">Surname is required</div>
                <div *ngIf="surName.errors.surName">Surname must be a valid one</div>
                <div *ngIf="surName.errors.minlength">Surname must be at least 2 characters</div>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Name</label>
              <input type="text" class="form-control" name="lastName" [(ngModel)]="committeeMember.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
                required lastName minlength="3" [disabled]="isView" />
              <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                <div *ngIf="lastName.errors.required">Name is required</div>
                <div *ngIf="lastName.errors.lastName">Name must be a valid one</div>
                <div *ngIf="lastName.errors.minlength">Name must be at least 3 characters</div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="committeeMember.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                required email [disabled]="isView" />
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
            <div class="form-group">
              <label for="mobile">Mobile Number</label>
              <input type="text" class="form-control" name="mobile" [(ngModel)]="committeeMember.mobile" #mobile="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }"
                required mobile minlength="10" maxlength="10" [disabled]="isView" />
              <div *ngIf="f.submitted && mobile.invalid" class="invalid-feedback">
                <div *ngIf="mobile.errors.required">Mobile Number is required</div>
                <div *ngIf="mobile.errors.mobile">Mobile Number must be a valid one</div>
                <div *ngIf="mobile.errors.minlength">Mobile Number must be at least 10 digits</div>
                <div *ngIf="mobile.errors.maxlength">Mobile Number must be not more than 10 digits</div>
              </div>
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input type="text" class="form-control" name="age" [(ngModel)]="committeeMember.age" #age="ngModel" [ngClass]="{ 'is-invalid': f.submitted && age.invalid }"
                [disabled]="isView" required />
              <div *ngIf="f.submitted && age.invalid" class="invalid-feedback">
                <div *ngIf="age.errors.required">Age is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="gender">Gender</label>
              <input type="radio" value="male" name="gender" [ngModel]="committeeMember.gender" required #gender="ngModel"> Male
                <input type="radio" value="female" name="gender" [ngModel]="committeeMember.gender" required #gender="ngModel"> Female
            </div>
            <div class="form-group">
              <label for="adharNumber">Adhar Number</label>
              <input type="text" class="form-control" name="adharNumber" [(ngModel)]="committeeMember.adharNumber" #adharNumber="ngModel"
                [disabled]="isView" />
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="houseNo">House No </label>
              <input type="text" class="form-control" name="houseNo" [(ngModel)]="committeeMember.houseNo" #houseNo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && houseNo.invalid }"
                required houseNo [disabled]="isView" />
              <div *ngIf="f.submitted && houseNo.invalid" class="invalid-feedback">
                <div *ngIf="houseNo.errors.required">HouseNo is required</div>
                <div *ngIf="houseNo.errors.houseNo">HouseNo must be a valid HouseNo address</div>
              </div>
            </div>
            <div class="form-group">
              <label for="landMark">Land Mark</label>
              <input type="text" class="form-control" name="landMark" [(ngModel)]="committeeMember.landMark" #landMark="ngModel" [disabled]="isView"
              />
            </div>
            <div class="form-group">
              <label for="street">Street</label>
              <input type="text" class="form-control" name="street" [(ngModel)]="committeeMember.street" #street="ngModel" [disabled]="isView"
              />
            </div>
            <div class="form-group">
              <label for="postOffice">Post Office</label>
              <input type="text" class="form-control" name="postOffice" [(ngModel)]="committeeMember.postOffice" #postOffice="ngModel"
                [disabled]="isView" />
            </div>
            <div class="form-group">
              <label for="postOffice">City</label>
              <input type="text" class="form-control" name="city" [(ngModel)]="committeeMember.city" #city="ngModel" [disabled]="isView"
              />
            </div>
            <div class="form-group">
              <label for="mandal">Mandal</label>
              <input type="text" class="form-control" name="mandal" [(ngModel)]="committeeMember.mandal" #mandal="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mandal.invalid }"
                required mandal minlength="3" [disabled]="isView" />
              <div *ngIf="f.submitted && mandal.invalid" class="invalid-feedback">
                <div *ngIf="mandal.errors.required">Mandal is required</div>
                <div *ngIf="mandal.errors.minlength">Mandal must be at least 3 characters</div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="district">District</label>
              <input type="text" class="form-control" name="district" [(ngModel)]="committeeMember.district" #district="ngModel" [ngClass]="{ 'is-invalid': f.submitted && district.invalid }"
                required district minlength="3" [disabled]="isView" />
              <div *ngIf="f.submitted && district.invalid" class="invalid-feedback">
                <div *ngIf="district.errors.required">District is required</div>
                <div *ngIf="district.errors.minlength">District must be at least 3 characters</div>
              </div>
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control" name="state" [(ngModel)]="committeeMember.state" #state="ngModel" [disabled]="isView"
              />
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control" name="country" [(ngModel)]="committeeMember.country" #country="ngModel" [disabled]="isView"
              />
            </div>
            <div class="form-group">
              <label for="designation">Designation</label>
              <select class="input " name="designation" [(ngModel)]="committeeMember.designation" #designation="ngModel" [disabled]="isView">
                <option value="Member">Member</option>
                <option value="President">President</option>
                <option value="Director">Director</option>
              </select>
            </div>
            <div class="form-group">
              <label for="fromDate">From Date</label>
              <mat-form-field>
                <input matInput [matDatepicker]="picker5" class="form-control" name="fromDate" [(ngModel)]="committeeMember.fromDate" #fromDate="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && fromDate.invalid }" required fromDate [disabled]="isView" />
                <div *ngIf="f.submitted && fromDate.invalid" class="invalid-feedback">
                  <div *ngIf="fromDate.errors.required">FromDate is required</div>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                <mat-datepicker #picker5></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="form-group">
              <label for="thruDate">Thru Date</label>
              <mat-form-field>
                <input matInput [matDatepicker]="picker6" class="form-control" name="thruDate" [(ngModel)]="committeeMember.thruDate" #thruDate="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && thruDate.invalid }" required thruDate [disabled]="isView" />
                <div *ngIf="f.submitted && thruDate.invalid" class="invalid-feedback">
                  <div *ngIf="thruDate.errors.required">ThruDate is required</div>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                <mat-datepicker #picker6></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="form-group">
              <label for="photo">Photo</label>
              <input type="file" (change)="selectFile($event)" style="margin-left: 40px;" [(ngModel)]="committeeMember.photo" [disabled]="isView"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" *ngIf="!isView" type="submit">{{!isUpdate? "Save": "Update"}}</button>
          <button class="btn btn-primary" *ngIf="isView" (click)="editCommitteeMember()">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>